margin-left:auto ;
}
.nav-item{
    margin-right: 25px;
}

.navbar{
    opacity: 100%;
}


#hero4{
    display: table;
    width: 100%;
    height: 90vh;
    background: url("./Imagenes/Pizzainicio.jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;

}
#hero4 .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero4 .hero-container{
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#hero4 h1{
    margin: 30px 0 10px 0;
    font-weight: bold ;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
     }

     #hero4 h2{
        color: #fff;
        margin-bottom: 50px;
        font-style: italic;
    }
    @media (max-width:768px){
        #hero3 h2{
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 30px;
        }
    
    }
    
#hero4 .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero4 .btn-get-started{
    background: #fd7e14;
    border: 2px solid #a85303;
    color: #fff;
}

#hero4 .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

@media (min-width:1024px){
    #hero4{
        background-attachment: fixed;
    }
}


/* MAIN-INICIO */

@media screen and (min-width:375px){
    .imgi{
        background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
        width: 100%;
        height: 100px;
        background-size: contain;
      
        background-attachment: fixed;
    
      }
}
.imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    display: none;

  }
  @media screen and (min-width:375px) {
    .imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    width: 100%;
    height:350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
 }
  @media screen and (min-width:640px) {
    .imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    width: 100%;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


  }
    
  }
  @media screen and (min-width:800px) {
    .imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    width: 100%;
    height:600px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
    
  }
  @media screen and (min-width:1000px) {
    .imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    width: 100%;
    height:700px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
    
  }
  @media screen and (min-width:1200px) {
    .imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    width: 100%;
    height:550px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
    
  }
  @media screen and (min-width:1600px) {
    .imgi{
    background-image: url("./Imagenes/Pizza-oven\ \(2\).jpg");
    width: 100%;
    height:800px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
    
  }


/* OWL CAROUSEL */

.item-carousel{
    height: 550px;
    width: 100px;
}

@media screen and (max-width:500px){ 
    .item-carousel{
        height: 400px;
        width: 100px;

}
 }
@media screen and (min-width:800px){
    .item-carousel{
        height: 400px;
        width: 100px;

}
    
}
@media screen and (min-width:1000px){
    .item-carousel{
        height: 645px;
        width: 100px;

}
    
}

.item-carousel:hover{
    transform: scale(1.03);
}

.seccion-carousel{
    margin-top: 100px;
}

.ubicacion{
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Blaka', cursive;
    font-family: 'Libre Bodoni', serif;

}



.section{
    width: 35px;
    height: 35px;
    border: solid 2px darkblue;
}




    .lista >ul >li:hover {
        transform: scale(1.10);

    }
.derechos,
.item-footer{
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Blaka', cursive;
    font-family: 'Libre Bodoni', serif;
}    

.cardmenu{
    border-radius: 110px;
}




.fpizzas:hover{
    transform: scale(1.05);
}




/* CARRITO */
.carrito{
    min-height: 70vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

}


.table__productos > img{
    width: 9rem;
  
    border-radius: 6px;
    margin-right: 10px ;
}

.table__cantidad {
    width: 20px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}
.input__elemento{
    width: 100px;
}

.alert{
    z-index :100 ;
}
.hide, .remove{
    display: none;
}



/* CONTACTO */


.fondoContacto{
    background-image: url("./Imagenes/FondoSeccion3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
                   
.form_wrap{
    border: 1px solid grey;
    margin: 50px auto;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6) ;
}



.btn-contact{
    width: 180px;
    background:#fd7e14;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Blaka', cursive;
    font-family: 'Libre Bodoni', serif;
    font-size: 16px;
    font-weight: 500;
    

}
.btn-contact:hover{
    opacity: 80%;
    
}

.contact > div >input,
.contact > div > textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
    padding:8px 0px 5px;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Blaka', cursive;
    font-family: 'Libre Bodoni', serif;
}
.contact >div  > textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;

}
.contact_icon span{
   font-size: 80px;
   color: #fd7e14 ;
}

.form-control.falla input{
    border: 0.1px solid;
    border-color: #fd7e14;
    
}
.form-control.ok input {
    border: 0.1px solid;
    border-color: #08ffc8;
}
.form-control.falla input{
    border: 0.1px solid;
    border-color: #fe5f55;
}

.form-control , input:focus{
    outline: none;

}
.form-control p {
    visibility: hidden;
    font-size: small;
    font-weight: 500;
    text-align: right;
}
.form-control.falla p {
    visibility: visible;
    color: #e74c3c;

}




/* RESERVACION */

.make-reservation{
    width: 100%;
    background: rgba(231,151,2,0.5);
}
.make-reservation .form-group label{
    font-weight: bold;
    color: black;
} 
 @media (max-width:768px){
    .make-reservation .form-group .select-wrap{
        position: relative;
    }

 }
 .btn-book {
    display: inline-block;
    vertical-align: middle;
    color: white !important;
    background: black !important;
 }
 .btn-reserv{
    background-color: #fd7e14 !important;
   
 }

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}


/* MAS INFO */




.hero-wrap {
    width: 100%;
    height: 1110px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
    position: fixed;

}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: .4;
    background:  #000000;
    height: 1110;
}
.hero-wrap .main-text{
    height: 500px !important;

}
.main-text h1{
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    font-weight: bold ;
}

.fondomain__masinfo{
    background-image: url("./Imagenes/Distriubidor.jpg");
}
.hero-wrap2{
  
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#hero{
    display: table;
    width: 100%;
    height: 90vh;
    background: url("./Imagenes/Fondo+info.jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;

}
#hero3{
    display: table;
    width: 100%;
    height: 90vh;
    background: url("./Imagenes/Contactoform\ \(2\).jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;

}
#hero3 .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero3 .hero-container{
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#hero3 h1{
    margin: 30px 0 10px 0;
    font-weight: bold ;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
     }

     #hero3 h2{
        color: #fff;
        margin-bottom: 50px;
        font-style: italic;
    }
    @media (max-width:768px){
        #hero3 h2{
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 30px;
        }
    
    }
    
#hero3 .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero3 .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}

#hero3 .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

@media (min-width:1024px){
    #hero3{
        background-attachment: fixed;
    }
}




#hero{
    display: table;
    width: 100%;
    height: 90vh;
    background: url("./Imagenes/Fondo+info.jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;

}
#hero2{
    display: table;
    width: 100%;
    height: 90vh;
    background: url("./Imagenes/FondoMenu.jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;

}
#hero2 .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero2 .hero-container{
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#hero2 h1{
    margin: 30px 0 10px 0;
    font-weight: bold ;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
     }

     #hero2 h2{
        color: #fff;
        margin-bottom: 50px;
        font-style: italic;
    }
    @media (max-width:768px){
        #hero2 h2{
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 30px;
        }
    
    }
    
#hero2 .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero2 .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}

#hero2 .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

@media (min-width:1024px){
    #hero2{
        background-attachment: fixed;
    }
}



@media (min-width:1024px){
    #hero{
        background-attachment: fixed;
    }
}

#hero .hero-logo{
    margin: 20px;
    max-width: 100%;
}

#hero .hero-container{
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold ;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;

}
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }

}
#hero h2{
    color: #fff;
    margin-bottom: 50px;
    font-style: italic;
}

@media (max-width:768px){
    #hero h2{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }

}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}

#hero .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}



/* PRODUCTOS */

.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));  
    gap: 2rem;
    align-items: center;
    width: 1200px;

}


.gallery .gallery-container .box{
    height: 25rem;
    position: relative;
    overflow: hidden;
 


}
.gallery .gallery-container .box  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .gallery-container .box  .icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
}
.gallery .gallery-container .box  .icon i{
    font-size: 3rem;
    color: white

}

.gallery .gallery-container .box:hover  .icon{
    display: flex;
}






/* LOADER */

/* .loader-container{
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;


}

.loader-container.fade-out{
    top: -120%;

} */
